* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	box-sizing: border-box;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}
html,
body {
	width: 100%;
	max-width: $max-width;
	-webkit-font-smoothing: antialiased;
	margin: auto;
	@include fontFormat($fz-text, $main-font, $line-height, $text-color);
	background: $white;
	position: relative;
	@include custom-scrollbar();
	--local-pd: 100px;
	@include mobile {
		--local-pd: 70px;
	}
	main {
		.section-gap {
			padding-top: var(--local-pd);
			padding-bottom: var(--local-pd);
		}
	}
	// @include desktop {
	// }
	// @include tablet {
	// }
	// @include mobile {
	// }
	// @include mobile-xxs {
	// }
}
