// Main colors
$black: #000000;
$white: #ffffff;
$alice-blue: #f3f5f8;
$medium-turquoise: #3dc9b3;
$midnight-express: #242830;
$night-rider: #353535;

// Fonts
$main-font: Gotham;
$md-font: Gotham-Medium;
$md-i-font: Gotham-MediumItalic;
$text-color: #8c9398;
$upper-c: uppercase;
$lower-c: lowercase;
$capitalize: capitalize;

// headings typo
$fz-text: 14px;
$line-height: normal;
$fz-text-mobile: 14px;
$line-height-mobile: normal;

// Transition variables
$time: 0.4s;
$cubic: cubic-bezier(0.84, 0.13, 0.33, 0.97);

/*GRID - media queries breakpoints*/
$xxs-min: 340px;
$xs-min: 768px;
$sm-min: 992px;
$ipro-min: 1024px;
$md-min: 1200px;
$lg-min: 1600px;

$xxs-max: ($xxs-min - 1);
$xs-max: ($xs-min - 1);
$sm-max: ($sm-min - 1);
$ipro-max: ($ipro-min -1);
$md-max: ($md-min - 1);
$lg-max: ($lg-min - 1);

/*BOXED LAYOUT*/
$max-width: 1600px;
$container-max-width: $max-width;
$container-width: 1170px;
$gap: 30px;

// Z-INDEX
$header-z: 300;
$nav-z: $header-z + 1;
$footer-z: 1;
$default-z: 100;
