section.section.banner 
    .container
        .banner__wrapper
            h1.banner__title
                .banner__title-upper
                    | halcyon
                    span.a1a9b0 days
                .banner__title-lower Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            a.banner__button(href="#") Learn more