footer.footer
    .footer__upper
        .container
            .footer__header.section__header 
                .section__header-text DROP US A LINE
                .section__header-decor
                    span.dotted
                    .section__header-icon
                            i.fontawesome-icon.location-arrow
                    span.dotted
            .footer__content.section__content 
                .contact
                    .row 
                        .contact__item.col-12.col-md-6.offset-md-3.col-lg-4.offset-lg-0
                            .contact__item-wrapper
                                .contact__item-icon
                                    i.fontawesome-icon.map-marked-alt
                                h3.contact__item-title ADDRESS
                                p.contact__item-text Level 6, 23 Pitt St, Sydney
                        .contact__item.col-12.col-md-6.offset-md-3.col-lg-4.offset-lg-0
                            .contact__item-wrapper
                                .contact__item-icon 
                                    i.fontawesome-icon.mobile-alt
                                h3.contact__item-title PHONE
                                p.contact__item-text +61 9 211 3741
                        .contact__item.col-12.col-md-6.offset-md-3.col-lg-4.offset-lg-0
                            .contact__item-wrapper
                                .contact__item-icon
                                    i.fontawesome-icon.paper-plane
                                h3.contact__item-title EMAIL
                                p.contact__item-text #[strong hey@halcyon.com.au]
                .social
                    .row 
                        .social__item 
                            a(href="#").social__item-wrapper 
                                .social__item-icon
                                    i.fontawesome-icon.dribble
                        .social__item       
                            a(href="#").social__item-wrapper 
                                .social__item-icon
                                    i.fontawesome-icon.twitter
                        .social__item 
                            a(href="#").social__item-wrapper 
                                .social__item-icon
                                    i.fontawesome-icon.envelope
    .footer__lower
        .container
            .row
                .footer__link
                    .footer__link-item 
                        a.link Terms & Conditions
                    .footer__link-item 
                         a.link Legals
                .copy-right
                    div Copyright by 
                        a.link(href="#") Example website
